#body {
  height: 100%;
  width: 100%;
  font-family: serif;
  margin: 0;
}

.chat {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-color: white;
  background-color: black;
  top: 0;
}

.chat::-webkit-scrollbar {
  background-color: black;
}

.chat::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.server {
  color: yellow;
}

.message {
  color: white;
}

input {
  border-style: none;
  outline-style: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  height: 25px;
  margin-right: 10px;
  margin-top: 25px;
}

#username {
  margin-left: 10px;
}

#submit {
  border-style: none;
  outline-style: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  height: 27px;
  margin-right: 10px;
  margin-top: 25px;
}

#submit:hover {
  background-color: aliceblue;
  color: black;
}

#menu {
  background-color: transparent;
  border-style: none;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  color: black;
  position: absolute;
  right: 5%;
}

#menu>img {
  margin-top: 25px;
  margin-left: 50px;
}

#menu>img:hover {
  transform: scale(1.4);
}

.form>h5 {
  font-size: 30px;
}

input:hover {
  background-color: aliceblue;
  color: black;
}
.form {
  background-color: darkgray;
  height: 80px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  z-index: 2;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
}

.client-error {
  background-color: red;
}

.server {

}
.message {
  
}
